body {
    background-color: white;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /*border-bottom: 3px solid black;*/
        text-align: right;
        padding: 50px;
        /*top: 0;
        right: 0;*/
    }


h1 {
    font-size: 50px;

}
h2 { 
    font-size: 35px;

}



.line {
  height: 3px;
  background: black;
  align-self: flex-end;

}

.continent-container {
    align-items: center;
    margin-left: 30%;
}
   
  .country-list{
      list-style: none;
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 20px;
  }

  .continent-name {
      font-size: 50px;
      padding: 50px;
  }
  .card-img {
      width: 310px;
      height: 226px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 20px 10px 0 10px;
      border: 2px solid black;
      border-radius: 3px;
  }

  .country-info {
      font-size: 20px;
      list-style: none;

  }

  /* TABLET */
/*@media (min-width: 667px) and (max-width: 1024px) {
}*/

@media (min-width:1025px) {

}
